<h1>Errors</h1>
<% if !@errors.nil? %>
<div id="error_explanation">
    <h2><%= pluralize(@errors.length, "error") %> prohibited this record from being saved:</h2>

    <ul>
        <% @errors.each do |error| %>
        <li><%= error.message %></li>
        <% end %>
    </ul>
</div>
<% end %>