
<form action='<%= sobject_records_path(@parent) %>' method="post">
    <% @updateable_attributes.each do |attr| %>
      <div class="field">
      <%= label_tag(@parent.label_for(attr).to_sym, attr)%>
      <%= text_field_tag(attr.to_sym)%> <br/>
     </div>
    <% end %>
    <div class="actions">
      <%= submit_tag("Save") %>
    </div>
</form>
