
<form action="<%= create_sobject_record_path %>" method="post">
    <% @record.attributes.each do |attr| %>
      <div class="field">
      <%= label_tag(attr.to_sym, attr)%>
      <%= text_field_tag(attr.to_sym)%> <br/>
     </div>
    <% end %>
    <div class="actions">
      <%= submit_tag("Save") %>
    </div>
</form>
