<div data-role="header" id="new_record_for_<%= @class_name %>" data-add-back-btn="true">
   <h1>New <%= @class_name %> Record</h1>
</div>
<div data-role="content">
   <%= render 'form' %>
</div>
<div data-role="footer">
</div>
